body {
  background-image: url(https://i.ibb.co/ccg734n/poker-purple-background-playing-card-symbols-pattern-blackjack-vector.jpg);
  color: white;
  display: grid;
  gap: 5px;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 200px 1fr 200px;
  align-items: end;
}

p {
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
}

button {
  background: white;
  font-weight: 800;
  border: none;
  border-radius: 4px;
  width: 140px;
  height: 35px;
}

#hit, #stand {
  background: lightgreen;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#hit:disabled, #stand:disabled {
  background: gray;
}

#hit:not(:disabled):hover, #stand:not(:disabled):hover {
  background: white;
}

button:not(:disabled):hover {
  background: wheat;
}

input {
  font-weight: 800;
  border: none;
  border-radius: 4px;
  width: 140px;
  height: 35px;
  margin: 10px;
}

#game-log {
  background: darkslategray;
  border-radius: 8px;
  height: 97.5vh;
  grid-row: span 4;
  overflow-y: scroll;
}

#game-log div {
  font-size: 18px;
  line-height: 30px;
  animation: appear 2s;
}

@keyframes appear {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.hand-grid {
  background: darkslategray;
  border-radius: 8px;
  height: 200px;
  width: 680px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(8, 128px);
  place-items: center;
}

.card {
  width: 128px;
  height: 178px;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.card img {
  width: 128px;
  height: 178px;
}

.card.flip {
  transform: rotateY(180deg);
}

.card--front, .card--back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card--front {
  transform: rotateY(180deg);
}

.card--back {
  cursor: pointer;
}